crypto-workflow v2.json
{
  "name": "Kripto bot 4.0",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n//  CRYPTO SIGNAL ANALYSIS ENGINE v2.0 — n8n Code Node\n// ═══════════════════════════════════════════════════════════════\n\n// ─── AYARLAR ───\nconst COINS = [\n  'BTC/USDT', 'AVAX/USDT', 'XRP/USDT', 'KITE/USDT', 'ETH/USDT', 'DOGE/USDT', 'ONT/USDT', 'PEPE/USDT', 'FLOKI/USDT', 'FET/USDT', 'RDNT/USDT', 'PUMP/USDT', 'ARB/USDT', 'APT/USDT', 'LINEA/USDT', 'STRK/USDT', 'BONK/USDT', 'FIL/USDT', 'TRUMP/USDT', 'CHZ/USDT', 'SOL/USDT', 'GLM/USDT', 'API3/USDT', 'SUPER/USDT', 'SHIB/USDT', 'VIRTUAL/USDT', 'MANTA/USDT', 'SNX/USDT', 'TRX/USDT', 'LTC/USDT', 'OGN/USDT', 'XCN/USDT', 'MAGIC/USDT', 'SUI/USDT', 'WLD/USDT', 'ENJ/USDT', 'LRC/USDT', 'EIGEN/USDT', 'AIXBT/USDT', 'TIA/USDT', 'ENA/USDT', 'ZRO/USDT', 'AUDIO/USDT', 'LINK/USDT', 'ETHFI/USDT', 'PNUT/USDT', 'STG/USDT', 'DYDX/USDT', 'GALA/USDT', 'NMR/USDT', 'TURBO/USDT', 'OP/USDT', 'UNI/USDT'\n];\n\nconst BINANCE_URL = 'https://api.binance.com';\nconst CANDLE_LIMIT = 300;\n\n\n// ═══════════════════════════════════════\n//  VERİ ÇEKME — n8n uyumlu ($http)\n// ═══════════════════════════════════════\n\nasync function fetchOHLCV(symbol, interval, limit) {\n  const s = symbol.replace('/', '');\n  const url = `${BINANCE_URL}/api/v3/klines?symbol=${s}&interval=${interval}&limit=${limit || CANDLE_LIMIT}`;\n  \n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: url,\n    json: true,\n  });\n  \n  const opens = [], highs = [], lows = [], closes = [], volumes = [];\n  for (const c of response) {\n    opens.push(parseFloat(c[1]));\n    highs.push(parseFloat(c[2]));\n    lows.push(parseFloat(c[3]));\n    closes.push(parseFloat(c[4]));\n    volumes.push(parseFloat(c[5]));\n  }\n  return { opens, highs, lows, closes, volumes };\n}\n\n\n// ═══════════════════════════════════════\n//  GÖSTERGE HESAPLAMALARI\n// ═══════════════════════════════════════\n\nfunction round8(v) { return Math.round(v * 1e8) / 1e8; }\n\nfunction calculateSMA(data, period) {\n  if (!data || data.length < period) return null;\n  return data.slice(data.length - period).reduce((a, b) => a + b, 0) / period;\n}\n\nfunction calculateEMA(data, period) {\n  if (!data || data.length < period) return null;\n  const k = 2 / (period + 1);\n  let ema = 0;\n  for (let i = 0; i < period; i++) ema += data[i];\n  ema /= period;\n  for (let i = period; i < data.length; i++) ema = (data[i] - ema) * k + ema;\n  return ema;\n}\n\nfunction calculateEMASeries(data, period) {\n  if (!data || data.length < period) return Array(data ? data.length : 0).fill(null);\n  const k = 2 / (period + 1);\n  const result = Array(period - 1).fill(null);\n  let ema = 0;\n  for (let i = 0; i < period; i++) ema += data[i];\n  ema /= period;\n  result.push(ema);\n  for (let i = period; i < data.length; i++) {\n    ema = (data[i] - ema) * k + ema;\n    result.push(ema);\n  }\n  return result;\n}\n\nfunction calculateRSI(closes, period) {\n  period = period || 14;\n  if (!closes || closes.length < period + 1) return { value: null, direction: 'NEUTRAL' };\n  const changes = [];\n  for (let i = 1; i < closes.length; i++) changes.push(closes[i] - closes[i - 1]);\n  const gains = changes.map(c => c > 0 ? c : 0);\n  const losses = changes.map(c => c < 0 ? Math.abs(c) : 0);\n  let avgGain = 0, avgLoss = 0;\n  for (let i = 0; i < period; i++) { avgGain += gains[i]; avgLoss += losses[i]; }\n  avgGain /= period; avgLoss /= period;\n  let prevRSI = null;\n  for (let i = period; i < changes.length; i++) {\n    avgGain = (avgGain * (period - 1) + gains[i]) / period;\n    avgLoss = (avgLoss * (period - 1) + losses[i]) / period;\n    if (i === changes.length - 2) {\n      prevRSI = avgLoss === 0 ? 100 : 100 - (100 / (1 + avgGain / avgLoss));\n    }\n  }\n  if (avgLoss === 0) return { value: 100, direction: 'UP' };\n  const currentRSI = Math.round((100 - 100 / (1 + avgGain / avgLoss)) * 100) / 100;\n  let direction = 'NEUTRAL';\n  if (prevRSI !== null) {\n    if (currentRSI > prevRSI + 1) direction = 'UP';\n    else if (currentRSI < prevRSI - 1) direction = 'DOWN';\n  }\n  return { value: currentRSI, direction };\n}\n\nfunction calculateMACD(closes) {\n  const empty = { macdLine: null, signalLine: null, histogram: null, crossover: 'NONE', momentum: 'NEUTRAL' };\n  if (!closes || closes.length < 35) return empty;\n  const emaFast = calculateEMASeries(closes, 12);\n  const emaSlow = calculateEMASeries(closes, 26);\n  const macdLine = [];\n  for (let i = 0; i < closes.length; i++) {\n    if (emaFast[i] !== null && emaSlow[i] !== null) macdLine.push(emaFast[i] - emaSlow[i]);\n    else macdLine.push(null);\n  }\n  const macdValues = macdLine.filter(v => v !== null);\n  if (macdValues.length < 9) return empty;\n  const signalValues = calculateEMASeries(macdValues, 9);\n  const len = macdValues.length;\n  const lastMacd = macdValues[len - 1];\n  const lastSignal = signalValues[signalValues.length - 1];\n  const prevMacd = len >= 2 ? macdValues[len - 2] : null;\n  const prevSignal = signalValues.length >= 2 ? signalValues[signalValues.length - 2] : null;\n  const histogram = lastMacd - lastSignal;\n  const prevHistogram = (prevMacd !== null && prevSignal !== null) ? prevMacd - prevSignal : null;\n  let crossover = 'NONE';\n  if (prevMacd !== null && prevSignal !== null) {\n    if (prevMacd <= prevSignal && lastMacd > lastSignal) crossover = 'BULLISH';\n    else if (prevMacd >= prevSignal && lastMacd < lastSignal) crossover = 'BEARISH';\n  }\n  let momentum = 'NEUTRAL';\n  if (prevHistogram !== null) {\n    if (histogram > 0 && histogram > prevHistogram) momentum = 'BULLISH_GROWING';\n    else if (histogram > 0 && histogram < prevHistogram) momentum = 'BULLISH_SHRINKING';\n    else if (histogram < 0 && histogram < prevHistogram) momentum = 'BEARISH_GROWING';\n    else if (histogram < 0 && histogram > prevHistogram) momentum = 'BEARISH_SHRINKING';\n  }\n  return { macdLine: round8(lastMacd), signalLine: round8(lastSignal), histogram: round8(histogram), crossover, momentum };\n}\n\nfunction calculateADX(highs, lows, closes) {\n  const period = 14;\n  const empty = { adx: null, plusDi: null, minusDi: null };\n  if (!highs || highs.length < period * 2 + 1) return empty;\n  const trs = [], pDMs = [], mDMs = [];\n  for (let i = 1; i < highs.length; i++) {\n    trs.push(Math.max(highs[i] - lows[i], Math.abs(highs[i] - closes[i-1]), Math.abs(lows[i] - closes[i-1])));\n    const up = highs[i] - highs[i-1], down = lows[i-1] - lows[i];\n    pDMs.push(up > down && up > 0 ? up : 0);\n    mDMs.push(down > up && down > 0 ? down : 0);\n  }\n  let sTR = 0, sPDM = 0, sMDM = 0;\n  for (let i = 0; i < period; i++) { sTR += trs[i]; sPDM += pDMs[i]; sMDM += mDMs[i]; }\n  const dxValues = [];\n  let plusDi = sTR ? 100 * sPDM / sTR : 0;\n  let minusDi = sTR ? 100 * sMDM / sTR : 0;\n  let diSum = plusDi + minusDi;\n  dxValues.push(diSum ? 100 * Math.abs(plusDi - minusDi) / diSum : 0);\n  for (let i = period; i < trs.length; i++) {\n    sTR = sTR - sTR / period + trs[i];\n    sPDM = sPDM - sPDM / period + pDMs[i];\n    sMDM = sMDM - sMDM / period + mDMs[i];\n    plusDi = sTR ? 100 * sPDM / sTR : 0;\n    minusDi = sTR ? 100 * sMDM / sTR : 0;\n    diSum = plusDi + minusDi;\n    dxValues.push(diSum ? 100 * Math.abs(plusDi - minusDi) / diSum : 0);\n  }\n  if (dxValues.length < period) return empty;\n  let adx = 0;\n  for (let i = 0; i < period; i++) adx += dxValues[i];\n  adx /= period;\n  for (let i = period; i < dxValues.length; i++) adx = (adx * (period - 1) + dxValues[i]) / period;\n  return { adx: Math.round(adx * 100) / 100, plusDi: Math.round(plusDi * 100) / 100, minusDi: Math.round(minusDi * 100) / 100 };\n}\n\nfunction calculateATR(highs, lows, closes) {\n  const period = 14;\n  if (!highs || highs.length < period + 1) return null;\n  const trs = [];\n  for (let i = 1; i < highs.length; i++)\n    trs.push(Math.max(highs[i] - lows[i], Math.abs(highs[i] - closes[i-1]), Math.abs(lows[i] - closes[i-1])));\n  let atr = 0;\n  for (let i = 0; i < period; i++) atr += trs[i];\n  atr /= period;\n  for (let i = period; i < trs.length; i++) atr = (atr * (period - 1) + trs[i]) / period;\n  return round8(atr);\n}\n\nfunction calculateBB(closes) {\n  const period = 20, mult = 2;\n  if (!closes || closes.length < period) return { upper: null, middle: null, lower: null, position: null };\n  const slice = closes.slice(closes.length - period);\n  const middle = slice.reduce((a, b) => a + b, 0) / period;\n  const stdDev = Math.sqrt(slice.reduce((a, v) => a + Math.pow(v - middle, 2), 0) / period);\n  const upper = middle + mult * stdDev, lower = middle - mult * stdDev;\n  const bw = upper - lower;\n  const position = bw ? (closes[closes.length - 1] - lower) / bw : 0.5;\n  return { upper: round8(upper), middle: round8(middle), lower: round8(lower), position: Math.round(position * 1e4) / 1e4 };\n}\n\nfunction calculateVolume(volumes) {\n  const period = 20;\n  if (!volumes || volumes.length < period) return { ratio: null, signal: 'NEUTRAL' };\n  const current = volumes[volumes.length - 1];\n  const ma = calculateSMA(volumes, period);\n  if (!ma) return { ratio: null, signal: 'NEUTRAL' };\n  const ratio = current / ma;\n  let signal = 'NEUTRAL';\n  if (ratio >= 2) signal = 'VERY_HIGH';\n  else if (ratio >= 1.5) signal = 'HIGH';\n  else if (ratio >= 1) signal = 'NORMAL';\n  else if (ratio >= 0.5) signal = 'LOW';\n  else signal = 'VERY_LOW';\n  return { ratio: Math.round(ratio * 1e4) / 1e4, signal };\n}\n\nfunction calculateEMA200(closes) {\n  const ema200 = calculateEMA(closes, 200);\n  if (!ema200) return { ema200: null, trend: 'UNKNOWN', distance: null };\n  const price = closes[closes.length - 1];\n  const distance = ((price - ema200) / ema200) * 100;\n  return {\n    ema200: round8(ema200),\n    trend: price > ema200 ? 'BULLISH' : price < ema200 ? 'BEARISH' : 'NEUTRAL',\n    distance: Math.round(distance * 100) / 100,\n  };\n}\n\nfunction calculateEMACross(closes) {\n  if (!closes || closes.length < 202) return { cross: 'NONE', ema50: null };\n  const ema50s = calculateEMASeries(closes, 50);\n  const ema200s = calculateEMASeries(closes, 200);\n  const len = closes.length;\n  const c50 = ema50s[len-1], c200 = ema200s[len-1];\n  const p50 = ema50s[len-2], p200 = ema200s[len-2];\n  if (!c50 || !c200 || !p50 || !p200) return { cross: 'NONE', ema50: c50 };\n  let cross = 'NONE';\n  if (p50 <= p200 && c50 > c200) cross = 'GOLDEN';\n  else if (p50 >= p200 && c50 < c200) cross = 'DEATH';\n  else if (c50 > c200) cross = 'ABOVE';\n  else cross = 'BELOW';\n  return { cross, ema50: round8(c50) };\n}\n\n\n// ═══════════════════════════════════════\n//  ANALİZ + PUANLAMA + SİNYAL\n// ═══════════════════════════════════════\n\nfunction analyze(ohlcv, symbol, tf) {\n  const { opens, highs, lows, closes, volumes } = ohlcv;\n  if (!closes || closes.length < 200) return null;\n\n  const price = closes[closes.length - 1];\n  const open = opens[opens.length - 1];\n  const candle = price > open ? 'GREEN' : price < open ? 'RED' : 'DOJI';\n\n  const rsiData = calculateRSI(closes);\n  const rsi = rsiData.value;\n  const rsiDir = rsiData.direction;\n  const macd = calculateMACD(closes);\n  const ema200 = calculateEMA200(closes);\n  const emaCross = calculateEMACross(closes);\n  const adx = calculateADX(highs, lows, closes);\n  const atr = calculateATR(highs, lows, closes);\n  const vol = calculateVolume(volumes);\n  const bb = calculateBB(closes);\n\n  // RSI Skor\n  let rsiSignal = 'NEUTRAL', rsiScore = 0;\n  if (rsi !== null) {\n    if (rsi <= 20) { rsiSignal = 'EXTREMELY_OVERSOLD'; rsiScore = 3; }\n    else if (rsi <= 30) { rsiSignal = 'OVERSOLD'; rsiScore = 2; }\n    else if (rsi <= 40) { rsiSignal = 'SLIGHTLY_OVERSOLD'; rsiScore = 1; }\n    else if (rsi >= 80) { rsiSignal = 'EXTREMELY_OVERBOUGHT'; rsiScore = -3; }\n    else if (rsi >= 70) { rsiSignal = 'OVERBOUGHT'; rsiScore = -2; }\n    else if (rsi >= 60) { rsiSignal = 'SLIGHTLY_OVERBOUGHT'; rsiScore = -1; }\n    if (rsi <= 35 && rsiDir === 'UP') rsiScore += 1;\n    if (rsi >= 65 && rsiDir === 'DOWN') rsiScore -= 1;\n  }\n\n  // MACD Skor\n  let macdScore = 0;\n  if (macd.histogram !== null) {\n    if (macd.crossover === 'BULLISH') macdScore = 3;\n    else if (macd.crossover === 'BEARISH') macdScore = -3;\n    else if (macd.histogram > 0 && macd.macdLine > 0) macdScore = 2;\n    else if (macd.histogram > 0) macdScore = 1;\n    else if (macd.histogram < 0 && macd.macdLine < 0) macdScore = -2;\n    else if (macd.histogram < 0) macdScore = -1;\n    if (macd.momentum === 'BULLISH_GROWING') macdScore += 1;\n    else if (macd.momentum === 'BEARISH_GROWING') macdScore -= 1;\n    else if (macd.momentum === 'BULLISH_SHRINKING' && macdScore > 0) macdScore -= 1;\n    else if (macd.momentum === 'BEARISH_SHRINKING' && macdScore < 0) macdScore += 1;\n  }\n\n  // EMA Skorlar\n  let ema200Score = 0;\n  if (ema200.trend === 'BULLISH') { ema200Score = 2; if (ema200.distance > 5) ema200Score = 1; }\n  else if (ema200.trend === 'BEARISH') { ema200Score = -2; if (ema200.distance < -5) ema200Score = -1; }\n\n  let emaCrossScore = 0;\n  if (emaCross.cross === 'GOLDEN') emaCrossScore = 2;\n  else if (emaCross.cross === 'DEATH') emaCrossScore = -2;\n  else if (emaCross.cross === 'ABOVE') emaCrossScore = 1;\n  else if (emaCross.cross === 'BELOW') emaCrossScore = -1;\n\n  // ADX Skor\n  let adxSignal = 'WEAK_TREND', adxScore = 0;\n  if (adx.adx !== null) {\n    if (adx.adx >= 50) adxSignal = 'VERY_STRONG_TREND';\n    else if (adx.adx >= 25) adxSignal = 'STRONG_TREND';\n    else if (adx.adx >= 20) adxSignal = 'MODERATE_TREND';\n    if (adx.adx >= 25) adxScore = adx.plusDi > adx.minusDi ? 2 : -2;\n    else if (adx.adx >= 20) adxScore = adx.plusDi > adx.minusDi ? 1 : -1;\n  }\n\n  // BB Skor\n  let bbSignal = 'NEUTRAL', bbScore = 0;\n  if (bb.position !== null) {\n    if (bb.position <= 0) { bbSignal = 'BELOW_LOWER'; bbScore = 2; }\n    else if (bb.position <= 0.2) { bbSignal = 'NEAR_LOWER'; bbScore = 1; }\n    else if (bb.position >= 1) { bbSignal = 'ABOVE_UPPER'; bbScore = -2; }\n    else if (bb.position >= 0.8) { bbSignal = 'NEAR_UPPER'; bbScore = -1; }\n    else bbSignal = 'MIDDLE';\n  }\n\n  // Hacim Skor\n  let volScore = 0;\n  if (vol.ratio !== null) {\n    if (vol.ratio >= 2) { volScore = candle === 'GREEN' ? 2 : candle === 'RED' ? -2 : 0; }\n    else if (vol.ratio >= 1.5) { volScore = candle === 'GREEN' ? 1 : candle === 'RED' ? -1 : 0; }\n  }\n\n  // Toplam\n  const allScores = [rsiScore, macdScore, ema200Score, emaCrossScore, adxScore, bbScore, volScore];\n  let buyScore = 0, sellScore = 0;\n  for (const s of allScores) { if (s > 0) buyScore += s; if (s < 0) sellScore += Math.abs(s); }\n\n  // Bonus\n  let bonus = 0;\n  if (macd.crossover === 'BULLISH' && rsi < 50) bonus += 2;\n  if (macd.crossover === 'BEARISH' && rsi > 50) bonus -= 2;\n  if (ema200.trend === 'BULLISH' && macdScore > 0 && rsiScore > 0) bonus += 2;\n  if (ema200.trend === 'BEARISH' && macdScore < 0 && rsiScore < 0) bonus -= 2;\n  if (vol.ratio >= 1.5) {\n    if (buyScore > sellScore && candle === 'GREEN') bonus += 1;\n    if (sellScore > buyScore && candle === 'RED') bonus -= 1;\n  }\n  if (adx.adx >= 30) {\n    if (adx.plusDi > adx.minusDi && buyScore > sellScore) bonus += 1;\n    if (adx.minusDi > adx.plusDi && sellScore > buyScore) bonus -= 1;\n  }\n  if (bb.position <= 0.1 && rsi < 35) bonus += 2;\n  if (bb.position >= 0.9 && rsi > 65) bonus -= 2;\n  if (emaCross.cross === 'GOLDEN' && ema200.trend === 'BULLISH') bonus += 2;\n  if (emaCross.cross === 'DEATH' && ema200.trend === 'BEARISH') bonus -= 2;\n  if (rsiDir === 'UP' && candle === 'GREEN' && rsi < 45) bonus += 1;\n  if (rsiDir === 'DOWN' && candle === 'RED' && rsi > 55) bonus -= 1;\n\n  const rawScore = buyScore - sellScore + bonus;\n\n  // Sinyal\n  let signalType = 'WAIT', dir = 'NEUTRAL';\n  if (rawScore >= 8) { signalType = 'STRONG_BUY'; dir = 'BUY'; }\n  else if (rawScore >= 5) { signalType = 'BUY'; dir = 'BUY'; }\n  else if (rawScore >= 3) { signalType = 'WEAK_BUY'; dir = 'BUY'; }\n  else if (rawScore <= -8) { signalType = 'STRONG_SELL'; dir = 'SELL'; }\n  else if (rawScore <= -5) { signalType = 'SELL'; dir = 'SELL'; }\n  else if (rawScore <= -3) { signalType = 'WEAK_SELL'; dir = 'SELL'; }\n\n  // Filtre\n  if (adx.adx !== null && adx.adx < 15) {\n    if (signalType === 'STRONG_BUY') signalType = 'WEAK_BUY';\n    else if (signalType === 'STRONG_SELL') signalType = 'WEAK_SELL';\n    else if (signalType === 'BUY' && rawScore < 6) signalType = 'WEAK_BUY';\n    else if (signalType === 'SELL' && rawScore > -6) signalType = 'WEAK_SELL';\n  }\n  if (vol.ratio !== null && vol.ratio < 0.3 && (signalType === 'WEAK_BUY' || signalType === 'WEAK_SELL')) {\n    signalType = 'WAIT'; dir = 'NEUTRAL';\n  }\n  if (ema200.trend === 'BEARISH' && signalType === 'STRONG_BUY' && adx.adx < 30) signalType = 'BUY';\n  if (ema200.trend === 'BULLISH' && signalType === 'STRONG_SELL' && adx.adx < 30) signalType = 'SELL';\n\n  // Güven\n  let confidence = Math.min((Math.abs(rawScore) / 20) * 100, 100);\n  if (adx.adx >= 30) confidence = Math.min(confidence * 1.15, 100);\n  else if (adx.adx < 20) confidence *= 0.8;\n  if (vol.ratio >= 1.5) confidence = Math.min(confidence * 1.1, 100);\n  else if (vol.ratio < 0.5) confidence *= 0.85;\n  if (emaCross.cross === 'GOLDEN' || emaCross.cross === 'DEATH') confidence = Math.min(confidence * 1.1, 100);\n  if (dir === 'BUY' && candle === 'GREEN') confidence = Math.min(confidence * 1.05, 100);\n  else if (dir === 'SELL' && candle === 'RED') confidence = Math.min(confidence * 1.05, 100);\n  else if (dir === 'BUY' && candle === 'RED') confidence *= 0.95;\n  else if (dir === 'SELL' && candle === 'GREEN') confidence *= 0.95;\n  confidence = Math.round(confidence * 100) / 100;\n\n  // Risk\n  let sl = null, tp1 = null, tp2 = null, tp3 = null, rr = null;\n  if (atr && price && dir !== 'NEUTRAL') {\n    let slM = 1.5;\n    if (adx.adx >= 40) slM = 1.2; else if (adx.adx >= 30) slM = 1.3;\n    else if (adx.adx >= 25) slM = 1.5; else if (adx.adx >= 20) slM = 1.8; else slM = 2.0;\n    let t1M = 1.5, t2M = 2.5, t3M = 4.0;\n    if (vol.ratio >= 2) { t1M = 2; t2M = 3.5; t3M = 5; }\n    else if (vol.ratio >= 1.5) { t1M = 1.8; t2M = 3; t3M = 4.5; }\n    if (dir === 'BUY') { sl = price - atr*slM; tp1 = price + atr*t1M; tp2 = price + atr*t2M; tp3 = price + atr*t3M; }\n    else { sl = price + atr*slM; tp1 = price - atr*t1M; tp2 = price - atr*t2M; tp3 = price - atr*t3M; }\n    const risk = Math.abs(price - sl), reward = Math.abs(tp1 - price);\n    rr = risk ? Math.round(reward / risk * 100) / 100 : null;\n    sl = round8(sl); tp1 = round8(tp1); tp2 = round8(tp2); tp3 = round8(tp3);\n  }\n\n  return {\n    symbol, timeframe: tf, signalType, confidence, currentPrice: price,\n    openPrice: open, highPrice: highs[highs.length-1], lowPrice: lows[lows.length-1],\n    volume: volumes[volumes.length-1], candleDirection: candle,\n    rsi, rsiSignal, rsiDirection: rsiDir,\n    macdLine: macd.macdLine, macdSignalLine: macd.signalLine, macdHistogram: macd.histogram,\n    macdCrossover: macd.crossover, macdMomentum: macd.momentum,\n    ema200: ema200.ema200, priceVsEma200: ema200.trend, ema200Distance: ema200.distance,\n    ema50: emaCross.ema50, emaCross: emaCross.cross,\n    adx: adx.adx, plusDi: adx.plusDi, minusDi: adx.minusDi, adxSignal,\n    atr, atrPercent: atr ? Math.round((atr/price)*10000)/100 : null,\n    volumeRatio: vol.ratio, volumeSignal: vol.signal,\n    bbUpper: bb.upper, bbMiddle: bb.middle, bbLower: bb.lower, bbPosition: bb.position, bbSignal,\n    buyScore, sellScore, bonusScore: bonus, rawScore,\n    stopLoss: sl, takeProfit1: tp1, takeProfit2: tp2, takeProfit3: tp3, riskRewardRatio: rr,\n  };\n}\n\n\n// ═══════════════════════════════════════\n//  MULTI-TIMEFRAME\n// ═══════════════════════════════════════\n\nfunction multiTF(a1h, a4h) {\n  if (!a1h) return null;\n  function trend(a) {\n    let bull = 0, bear = 0;\n    if (a.priceVsEma200 === 'BULLISH') bull++; else if (a.priceVsEma200 === 'BEARISH') bear++;\n    if (a.macdHistogram > 0) bull++; else if (a.macdHistogram < 0) bear++;\n    if (a.rsi > 50) bull++; else if (a.rsi < 50) bear++;\n    if (a.plusDi > a.minusDi) bull++; else bear++;\n    if (a.emaCross === 'GOLDEN' || a.emaCross === 'ABOVE') bull++;\n    else if (a.emaCross === 'DEATH' || a.emaCross === 'BELOW') bear++;\n    return bull >= 3 ? 'BULLISH' : bear >= 3 ? 'BEARISH' : 'NEUTRAL';\n  }\n  const t1h = trend(a1h);\n  const t4h = a4h ? trend(a4h) : 'UNKNOWN';\n  let alignment = 'MIXED';\n  if (t1h === t4h) alignment = 'ALIGNED';\n  else if (t1h === 'NEUTRAL' || t4h === 'NEUTRAL' || t4h === 'UNKNOWN') alignment = 'PARTIAL';\n  else alignment = 'CONFLICTING';\n  let sig = a1h.signalType, conf = a1h.confidence;\n  if (alignment === 'ALIGNED') conf = Math.min(conf * 1.2, 100);\n  else if (alignment === 'CONFLICTING') {\n    conf *= 0.7;\n    if (sig === 'STRONG_BUY') sig = 'BUY';\n    else if (sig === 'STRONG_SELL') sig = 'SELL';\n    else if (sig === 'BUY') sig = 'WEAK_BUY';\n    else if (sig === 'SELL') sig = 'WEAK_SELL';\n  }\n  return { ...a1h, signalType: sig, confidence: Math.round(conf * 100) / 100, trend1h: t1h, trend4h: t4h, trendAlignment: alignment };\n}\n\n\n// ═══════════════════════════════════════\n//  ANA ÇALIŞTIRMA — n8n uyumlu\n// ═══════════════════════════════════════\n\nconst results = [];\n\nfor (const symbol of COINS) {\n  try {\n    const s = symbol.replace('/', '');\n    \n    // n8n httpRequest ile veri çek\n    const data1hRaw = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${BINANCE_URL}/api/v3/klines?symbol=${s}&interval=1h&limit=${CANDLE_LIMIT}`,\n      json: true,\n    });\n    \n    const data4hRaw = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${BINANCE_URL}/api/v3/klines?symbol=${s}&interval=4h&limit=${CANDLE_LIMIT}`,\n      json: true,\n    });\n    \n    // Parse et\n    function parseCandles(raw) {\n      const opens = [], highs = [], lows = [], closes = [], volumes = [];\n      for (const c of raw) {\n        opens.push(parseFloat(c[1]));\n        highs.push(parseFloat(c[2]));\n        lows.push(parseFloat(c[3]));\n        closes.push(parseFloat(c[4]));\n        volumes.push(parseFloat(c[5]));\n      }\n      return { opens, highs, lows, closes, volumes };\n    }\n    \n    const data1h = parseCandles(data1hRaw);\n    const data4h = parseCandles(data4hRaw);\n    \n    const a1h = analyze(data1h, symbol, '1h');\n    const a4h = analyze(data4h, symbol, '4h');\n    const result = multiTF(a1h, a4h);\n\n    if (result) {\n      results.push({ json: result });\n    }\n\n    // Rate limit\n    await new Promise(r => setTimeout(r, 300));\n  } catch (err) {\n    results.push({ json: { symbol, error: err.message } });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        -400
      ],
      "id": "ec1ac5bb-dc84-44ed-a2e7-455e3ebb4685",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        -256
      ],
      "id": "53fab353-e247-4a2f-a3de-20bfb6e31ec1",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst strongSignals = [];\n\nfor (const item of items) {\n  const s = item.json;\n  const signal = s.signalType;\n  \n  if (!signal || signal === 'WAIT') continue;\n\n  // Sinyal emojisi\n  let signalEmoji = '⚪';\n  let strengthBar = '';\n  let actionText = '';\n  \n  if (signal === 'STRONG_BUY') {\n    signalEmoji = '🟢🟢🟢';\n    strengthBar = '████████████ 100%';\n    actionText = '💪 ÇOK GÜÇLÜ ALIM SİNYALİ';\n  } else if (signal === 'BUY') {\n    signalEmoji = '🟢🟢';\n    strengthBar = '████████░░░░ 75%';\n    actionText = '✅ ALIM SİNYALİ';\n  } else if (signal === 'WEAK_BUY') {\n    signalEmoji = '🟡';\n    strengthBar = '█████░░░░░░░ 40%';\n    actionText = '⚠️ ZAYIF ALIM — DİKKATLİ OL';\n  } else if (signal === 'STRONG_SELL') {\n    signalEmoji = '🔴🔴🔴';\n    strengthBar = '████████████ 100%';\n    actionText = '💪 ÇOK GÜÇLÜ SATIM SİNYALİ';\n  } else if (signal === 'SELL') {\n    signalEmoji = '🔴🔴';\n    strengthBar = '████████░░░░ 75%';\n    actionText = '🛑 SATIM SİNYALİ';\n  } else if (signal === 'WEAK_SELL') {\n    signalEmoji = '🟠';\n    strengthBar = '█████░░░░░░░ 40%';\n    actionText = '⚠️ ZAYIF SATIM — DİKKATLİ OL';\n  }\n\n  // Trend emojileri\n  const trend1hEmoji = s.trend1h === 'BULLISH' ? '📈' : s.trend1h === 'BEARISH' ? '📉' : '➡️';\n  const trend4hEmoji = s.trend4h === 'BULLISH' ? '📈' : s.trend4h === 'BEARISH' ? '📉' : '➡️';\n  \n  // Trend uyum emojisi\n  let alignEmoji = '⚠️';\n  let alignText = '';\n  if (s.trendAlignment === 'ALIGNED') { alignEmoji = '✅'; alignText = 'UYUMLU — Güvenilir'; }\n  else if (s.trendAlignment === 'CONFLICTING') { alignEmoji = '❌'; alignText = 'ÇATIŞMALI — Riskli'; }\n  else { alignEmoji = '⚠️'; alignText = 'KISMEN UYUMLU'; }\n\n  // RSI durumu\n  let rsiEmoji = '⚪';\n  let rsiText = '';\n  if (s.rsi <= 20) { rsiEmoji = '🟢🟢'; rsiText = 'Aşırı Satım — Güçlü Alım Fırsatı'; }\n  else if (s.rsi <= 30) { rsiEmoji = '🟢'; rsiText = 'Satım Bölgesi — Alım Fırsatı'; }\n  else if (s.rsi <= 40) { rsiEmoji = '🟡'; rsiText = 'Hafif Satım Bölgesi'; }\n  else if (s.rsi >= 80) { rsiEmoji = '🔴🔴'; rsiText = 'Aşırı Alım — Düşüş Riski Yüksek'; }\n  else if (s.rsi >= 70) { rsiEmoji = '🔴'; rsiText = 'Alım Bölgesi — Düşüş Riski'; }\n  else if (s.rsi >= 60) { rsiEmoji = '🟠'; rsiText = 'Hafif Alım Bölgesi'; }\n  else { rsiEmoji = '⚪'; rsiText = 'Nötr Bölge'; }\n\n  // RSI yön\n  const rsiDirEmoji = s.rsiDirection === 'UP' ? '↗️' : s.rsiDirection === 'DOWN' ? '↘️' : '➡️';\n\n  // MACD durumu\n  let macdEmoji = '⚪';\n  let macdText = '';\n  if (s.macdCrossover === 'BULLISH') { macdEmoji = '🟢✨'; macdText = 'Yukarı Kesişim — GÜÇLÜ ALIM'; }\n  else if (s.macdCrossover === 'BEARISH') { macdEmoji = '🔴✨'; macdText = 'Aşağı Kesişim — GÜÇLÜ SATIM'; }\n  else if (s.macdHistogram > 0) { macdEmoji = '🟢'; macdText = 'Pozitif — Yukarı Momentum'; }\n  else if (s.macdHistogram < 0) { macdEmoji = '🔴'; macdText = 'Negatif — Aşağı Momentum'; }\n\n  // MACD Momentum\n  let momEmoji = '⚪';\n  let momText = '';\n  if (s.macdMomentum === 'BULLISH_GROWING') { momEmoji = '🚀'; momText = 'Yükseliş İvme Kazanıyor'; }\n  else if (s.macdMomentum === 'BULLISH_SHRINKING') { momEmoji = '⚠️'; momText = 'Yükseliş Yavaşlıyor'; }\n  else if (s.macdMomentum === 'BEARISH_GROWING') { momEmoji = '💥'; momText = 'Düşüş İvme Kazanıyor'; }\n  else if (s.macdMomentum === 'BEARISH_SHRINKING') { momEmoji = '⚠️'; momText = 'Düşüş Yavaşlıyor'; }\n\n  // ADX durumu\n  let adxEmoji = '⚪';\n  let adxText = '';\n  if (s.adx >= 50) { adxEmoji = '💪💪'; adxText = 'Çok Güçlü Trend'; }\n  else if (s.adx >= 25) { adxEmoji = '💪'; adxText = 'Güçlü Trend — Sinyal Güvenilir'; }\n  else if (s.adx >= 20) { adxEmoji = '⚠️'; adxText = 'Orta Trend'; }\n  else { adxEmoji = '😴'; adxText = 'Zayıf Trend — Sinyal Güvenilmez'; }\n\n  // DI yönü\n  const diEmoji = s.plusDi > s.minusDi ? '🟢 Alıcılar Güçlü' : '🔴 Satıcılar Güçlü';\n\n  // Hacim durumu\n  let volEmoji = '⚪';\n  let volText = '';\n  if (s.volumeRatio >= 2) { volEmoji = '🔊🔊'; volText = 'Çok Yüksek — Büyük Hareket'; }\n  else if (s.volumeRatio >= 1.5) { volEmoji = '🔊'; volText = 'Yüksek — İyi Katılım'; }\n  else if (s.volumeRatio >= 1) { volEmoji = '🔉'; volText = 'Normal'; }\n  else if (s.volumeRatio >= 0.5) { volEmoji = '🔈'; volText = 'Düşük — Dikkat'; }\n  else { volEmoji = '🔇'; volText = 'Çok Düşük — Güvenme'; }\n\n  // Bollinger durumu\n  let bbEmoji = '⚪';\n  if (s.bbSignal === 'BELOW_LOWER' || s.bbSignal === 'NEAR_LOWER') bbEmoji = '🟢';\n  else if (s.bbSignal === 'ABOVE_UPPER' || s.bbSignal === 'NEAR_UPPER') bbEmoji = '🔴';\n\n  // EMA Cross\n  let crossEmoji = '⚪';\n  let crossText = '';\n  if (s.emaCross === 'GOLDEN') { crossEmoji = '⭐'; crossText = 'Altın Kesişim — GÜÇLÜ ALIM'; }\n  else if (s.emaCross === 'DEATH') { crossEmoji = '💀'; crossText = 'Ölüm Kesişimi — GÜÇLÜ SATIM'; }\n  else if (s.emaCross === 'ABOVE') { crossEmoji = '📈'; crossText = 'EMA50 Üstte — Yükseliş'; }\n  else if (s.emaCross === 'BELOW') { crossEmoji = '📉'; crossText = 'EMA50 Altta — Düşüş'; }\n\n  // Mum yönü\n  const candleEmoji = s.candleDirection === 'GREEN' ? '🟩' : s.candleDirection === 'RED' ? '🟥' : '⬜';\n\n  // Güven barı\n  let confBar = '';\n  const confPct = Math.round(s.confidence);\n  const filled = Math.round(confPct / 10);\n  confBar = '█'.repeat(filled) + '░'.repeat(10 - filled) + ` ${confPct}%`;\n\n  // Risk yüzdeleri\n  const slPct = s.stopLoss ? (((s.stopLoss - s.currentPrice) / s.currentPrice) * 100).toFixed(2) : '—';\n  const tp1Pct = s.takeProfit1 ? (((s.takeProfit1 - s.currentPrice) / s.currentPrice) * 100).toFixed(2) : '—';\n  const tp2Pct = s.takeProfit2 ? (((s.takeProfit2 - s.currentPrice) / s.currentPrice) * 100).toFixed(2) : '—';\n  const tp3Pct = s.takeProfit3 ? (((s.takeProfit3 - s.currentPrice) / s.currentPrice) * 100).toFixed(2) : '—';\n\n  // Puan barı\n  const scoreEmoji = s.rawScore > 0 ? '🟢' : s.rawScore < 0 ? '🔴' : '⚪';\n\n  item.json.telegramMessage = \n`━━━━━━━━━━━━━━━━━━━━━━━\n${signalEmoji} ${s.symbol}\n━━━━━━━━━━━━━━━━━━━━━━━\n\n${actionText}\n💰 Fiyat: $${s.currentPrice}\n📊 Güven: ${confBar}\n${candleEmoji} Son Mum: ${s.candleDirection}\n\n━━━ 📈 TREND ANALİZİ ━━━\n\n${trend1hEmoji} 1 Saatlik: ${s.trend1h}\n${trend4hEmoji} 4 Saatlik: ${s.trend4h}\n${alignEmoji} Uyum: ${alignText}\n\n━━━ 🔬 GÖSTERGELER ━━━\n\n${rsiEmoji} RSI: ${s.rsi} ${rsiDirEmoji}\n   └─ ${rsiText}\n\n${macdEmoji} MACD: ${macdText}\n${momEmoji} Momentum: ${momText}\n\n${adxEmoji} ADX: ${s.adx}\n   └─ ${adxText}\n   └─ ${diEmoji}\n   └─ +DI: ${s.plusDi} / -DI: ${s.minusDi}\n\n${volEmoji} Hacim: ${s.volumeRatio}x\n   └─ ${volText}\n\n${bbEmoji} Bollinger: ${s.bbSignal}\n   └─ Pozisyon: %${s.bbPosition ? (s.bbPosition * 100).toFixed(1) : '—'}\n\n${crossEmoji} EMA Kesişim: ${crossText}\n\n📏 EMA200: ${s.priceVsEma200} (${s.ema200Distance > 0 ? '+' : ''}${s.ema200Distance}%)\n\n━━━ 🎯 PUANLAMA ━━━\n\n${scoreEmoji} Ham Skor: ${s.rawScore}\n🟢 Alış Puanı: ${s.buyScore}\n🔴 Satış Puanı: ${s.sellScore}\n⭐ Bonus: ${s.bonusScore}\n\n━━━ 🛡️ RİSK YÖNETİMİ ━━━\n\n🔴 Stop Loss: $${s.stopLoss || '—'}\n   └─ ${slPct}%\n\n🟢 Hedef 1: $${s.takeProfit1 || '—'}\n   └─ +${tp1Pct}%\n\n🟢 Hedef 2: $${s.takeProfit2 || '—'}\n   └─ +${tp2Pct}%\n\n🟢 Hedef 3: $${s.takeProfit3 || '—'}\n   └─ +${tp3Pct}%\n\n⚖️ Risk/Ödül: 1:${s.riskRewardRatio || '—'}\n\n━━━━━━━━━━━━━━━━━━━━━━━\n⏰ ${new Date().toLocaleString('tr-TR')}\n🤖 Crypto Signal Bot v2.0\n━━━━━━━━━━━━━━━━━━━━━━━`;\n  \n  // Telegram özel karakterlerini temizle\nitem.json.telegramMessage = item.json.telegramMessage\n  .replace(/_/g, ' ')\n  .replace(/\\*/g, '')\n  .replace(/\\[/g, '(')\n  .replace(/\\]/g, ')')\n  .replace(/~/g, '-')\n  .replace(/`/g, \"'\");\n  \n  strongSignals.push(item);\n}\n\n// Sinyal yoksa bildir\nif (strongSignals.length === 0) {\n  strongSignals.push({\n    json: {\n      telegramMessage: `⚪ Şu an aktif sinyal yok.\\n\\n⏰ ${new Date().toLocaleString('tr-TR')}\\n\\nTüm coinler WAIT durumunda.\\nBir sonraki analiz 1 saat sonra.`\n    }\n  });\n}\n\nreturn strongSignals;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -400
      ],
      "id": "847b996c-35e3-42eb-a25d-3cbbbf804ee6",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "chatId": "6810110831",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "="
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        512,
        -416
      ],
      "id": "8fe5072b-60f5-4350-bcb6-66a4bed16a87",
      "name": "Send a text message",
      "webhookId": "8af6b440-0046-46a0-bcc1-92edddebfe3c",
      "credentials": {
        "telegramApi": {
          "id": "zprjwJ0cl781a5pw",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ═══════════════════════════════════════════════════════════════\n//  CRYPTO SIGNAL ANALYSIS ENGINE v2.0 — n8n Code Node\n// ═══════════════════════════════════════════════════════════════\n\n// ─── AYARLAR ───\nconst COINS = [\n  'ADA/USDT', 'TNSR/USDT', 'ANKR/USDT', 'WLFI/USDT', 'XPL/USDT', 'MINA/USDT', 'DYM/USDT', 'SAHARA/USDT', 'DOT/USDT', 'LDO/USDT', 'ASR/USDT', 'AAVE/USDT', 'ICP/USDT', 'GAL/USDT', 'HOT/USDT', 'PSG/USDT', 'ARKM/USDT', '2Z/USDT', 'BCH/USDT', 'MEME/USDT', 'BAR/USDT', 'WIF/USDT', 'JUP/USDT', 'AVNT/USDT', 'COMP/USDT', 'BERA/USDT', 'KAITO/USDT', 'VANRY/USDT', 'MKR/USDT', 'QNT/USDT', 'ILV/USDT', 'SENT/USDT', 'PLUME/USDT', '0G/USDT', 'ANIME/USDT', 'SYRUP/USDT', 'ASTER/USDT', 'RED/USDT', 'MET/USDT', 'NEAR/USDT', 'TAO/USDT', 'ZKC/USDT', 'SPK/USDT', 'SEI/USDT', 'USDC/USDT', 'FTM/USDT', 'ALGO/USDT', 'VET/USDT'\n];\n\nconst BINANCE_URL = 'https://api.binance.com';\nconst CANDLE_LIMIT = 300;\n\n\n// ═══════════════════════════════════════\n//  VERİ ÇEKME — n8n uyumlu ($http)\n// ═══════════════════════════════════════\n\nasync function fetchOHLCV(symbol, interval, limit) {\n  const s = symbol.replace('/', '');\n  const url = `${BINANCE_URL}/api/v3/klines?symbol=${s}&interval=${interval}&limit=${limit || CANDLE_LIMIT}`;\n  \n  const response = await this.helpers.httpRequest({\n    method: 'GET',\n    url: url,\n    json: true,\n  });\n  \n  const opens = [], highs = [], lows = [], closes = [], volumes = [];\n  for (const c of response) {\n    opens.push(parseFloat(c[1]));\n    highs.push(parseFloat(c[2]));\n    lows.push(parseFloat(c[3]));\n    closes.push(parseFloat(c[4]));\n    volumes.push(parseFloat(c[5]));\n  }\n  return { opens, highs, lows, closes, volumes };\n}\n\n\n// ═══════════════════════════════════════\n//  GÖSTERGE HESAPLAMALARI\n// ═══════════════════════════════════════\n\nfunction round8(v) { return Math.round(v * 1e8) / 1e8; }\n\nfunction calculateSMA(data, period) {\n  if (!data || data.length < period) return null;\n  return data.slice(data.length - period).reduce((a, b) => a + b, 0) / period;\n}\n\nfunction calculateEMA(data, period) {\n  if (!data || data.length < period) return null;\n  const k = 2 / (period + 1);\n  let ema = 0;\n  for (let i = 0; i < period; i++) ema += data[i];\n  ema /= period;\n  for (let i = period; i < data.length; i++) ema = (data[i] - ema) * k + ema;\n  return ema;\n}\n\nfunction calculateEMASeries(data, period) {\n  if (!data || data.length < period) return Array(data ? data.length : 0).fill(null);\n  const k = 2 / (period + 1);\n  const result = Array(period - 1).fill(null);\n  let ema = 0;\n  for (let i = 0; i < period; i++) ema += data[i];\n  ema /= period;\n  result.push(ema);\n  for (let i = period; i < data.length; i++) {\n    ema = (data[i] - ema) * k + ema;\n    result.push(ema);\n  }\n  return result;\n}\n\nfunction calculateRSI(closes, period) {\n  period = period || 14;\n  if (!closes || closes.length < period + 1) return { value: null, direction: 'NEUTRAL' };\n  const changes = [];\n  for (let i = 1; i < closes.length; i++) changes.push(closes[i] - closes[i - 1]);\n  const gains = changes.map(c => c > 0 ? c : 0);\n  const losses = changes.map(c => c < 0 ? Math.abs(c) : 0);\n  let avgGain = 0, avgLoss = 0;\n  for (let i = 0; i < period; i++) { avgGain += gains[i]; avgLoss += losses[i]; }\n  avgGain /= period; avgLoss /= period;\n  let prevRSI = null;\n  for (let i = period; i < changes.length; i++) {\n    avgGain = (avgGain * (period - 1) + gains[i]) / period;\n    avgLoss = (avgLoss * (period - 1) + losses[i]) / period;\n    if (i === changes.length - 2) {\n      prevRSI = avgLoss === 0 ? 100 : 100 - (100 / (1 + avgGain / avgLoss));\n    }\n  }\n  if (avgLoss === 0) return { value: 100, direction: 'UP' };\n  const currentRSI = Math.round((100 - 100 / (1 + avgGain / avgLoss)) * 100) / 100;\n  let direction = 'NEUTRAL';\n  if (prevRSI !== null) {\n    if (currentRSI > prevRSI + 1) direction = 'UP';\n    else if (currentRSI < prevRSI - 1) direction = 'DOWN';\n  }\n  return { value: currentRSI, direction };\n}\n\nfunction calculateMACD(closes) {\n  const empty = { macdLine: null, signalLine: null, histogram: null, crossover: 'NONE', momentum: 'NEUTRAL' };\n  if (!closes || closes.length < 35) return empty;\n  const emaFast = calculateEMASeries(closes, 12);\n  const emaSlow = calculateEMASeries(closes, 26);\n  const macdLine = [];\n  for (let i = 0; i < closes.length; i++) {\n    if (emaFast[i] !== null && emaSlow[i] !== null) macdLine.push(emaFast[i] - emaSlow[i]);\n    else macdLine.push(null);\n  }\n  const macdValues = macdLine.filter(v => v !== null);\n  if (macdValues.length < 9) return empty;\n  const signalValues = calculateEMASeries(macdValues, 9);\n  const len = macdValues.length;\n  const lastMacd = macdValues[len - 1];\n  const lastSignal = signalValues[signalValues.length - 1];\n  const prevMacd = len >= 2 ? macdValues[len - 2] : null;\n  const prevSignal = signalValues.length >= 2 ? signalValues[signalValues.length - 2] : null;\n  const histogram = lastMacd - lastSignal;\n  const prevHistogram = (prevMacd !== null && prevSignal !== null) ? prevMacd - prevSignal : null;\n  let crossover = 'NONE';\n  if (prevMacd !== null && prevSignal !== null) {\n    if (prevMacd <= prevSignal && lastMacd > lastSignal) crossover = 'BULLISH';\n    else if (prevMacd >= prevSignal && lastMacd < lastSignal) crossover = 'BEARISH';\n  }\n  let momentum = 'NEUTRAL';\n  if (prevHistogram !== null) {\n    if (histogram > 0 && histogram > prevHistogram) momentum = 'BULLISH_GROWING';\n    else if (histogram > 0 && histogram < prevHistogram) momentum = 'BULLISH_SHRINKING';\n    else if (histogram < 0 && histogram < prevHistogram) momentum = 'BEARISH_GROWING';\n    else if (histogram < 0 && histogram > prevHistogram) momentum = 'BEARISH_SHRINKING';\n  }\n  return { macdLine: round8(lastMacd), signalLine: round8(lastSignal), histogram: round8(histogram), crossover, momentum };\n}\n\nfunction calculateADX(highs, lows, closes) {\n  const period = 14;\n  const empty = { adx: null, plusDi: null, minusDi: null };\n  if (!highs || highs.length < period * 2 + 1) return empty;\n  const trs = [], pDMs = [], mDMs = [];\n  for (let i = 1; i < highs.length; i++) {\n    trs.push(Math.max(highs[i] - lows[i], Math.abs(highs[i] - closes[i-1]), Math.abs(lows[i] - closes[i-1])));\n    const up = highs[i] - highs[i-1], down = lows[i-1] - lows[i];\n    pDMs.push(up > down && up > 0 ? up : 0);\n    mDMs.push(down > up && down > 0 ? down : 0);\n  }\n  let sTR = 0, sPDM = 0, sMDM = 0;\n  for (let i = 0; i < period; i++) { sTR += trs[i]; sPDM += pDMs[i]; sMDM += mDMs[i]; }\n  const dxValues = [];\n  let plusDi = sTR ? 100 * sPDM / sTR : 0;\n  let minusDi = sTR ? 100 * sMDM / sTR : 0;\n  let diSum = plusDi + minusDi;\n  dxValues.push(diSum ? 100 * Math.abs(plusDi - minusDi) / diSum : 0);\n  for (let i = period; i < trs.length; i++) {\n    sTR = sTR - sTR / period + trs[i];\n    sPDM = sPDM - sPDM / period + pDMs[i];\n    sMDM = sMDM - sMDM / period + mDMs[i];\n    plusDi = sTR ? 100 * sPDM / sTR : 0;\n    minusDi = sTR ? 100 * sMDM / sTR : 0;\n    diSum = plusDi + minusDi;\n    dxValues.push(diSum ? 100 * Math.abs(plusDi - minusDi) / diSum : 0);\n  }\n  if (dxValues.length < period) return empty;\n  let adx = 0;\n  for (let i = 0; i < period; i++) adx += dxValues[i];\n  adx /= period;\n  for (let i = period; i < dxValues.length; i++) adx = (adx * (period - 1) + dxValues[i]) / period;\n  return { adx: Math.round(adx * 100) / 100, plusDi: Math.round(plusDi * 100) / 100, minusDi: Math.round(minusDi * 100) / 100 };\n}\n\nfunction calculateATR(highs, lows, closes) {\n  const period = 14;\n  if (!highs || highs.length < period + 1) return null;\n  const trs = [];\n  for (let i = 1; i < highs.length; i++)\n    trs.push(Math.max(highs[i] - lows[i], Math.abs(highs[i] - closes[i-1]), Math.abs(lows[i] - closes[i-1])));\n  let atr = 0;\n  for (let i = 0; i < period; i++) atr += trs[i];\n  atr /= period;\n  for (let i = period; i < trs.length; i++) atr = (atr * (period - 1) + trs[i]) / period;\n  return round8(atr);\n}\n\nfunction calculateBB(closes) {\n  const period = 20, mult = 2;\n  if (!closes || closes.length < period) return { upper: null, middle: null, lower: null, position: null };\n  const slice = closes.slice(closes.length - period);\n  const middle = slice.reduce((a, b) => a + b, 0) / period;\n  const stdDev = Math.sqrt(slice.reduce((a, v) => a + Math.pow(v - middle, 2), 0) / period);\n  const upper = middle + mult * stdDev, lower = middle - mult * stdDev;\n  const bw = upper - lower;\n  const position = bw ? (closes[closes.length - 1] - lower) / bw : 0.5;\n  return { upper: round8(upper), middle: round8(middle), lower: round8(lower), position: Math.round(position * 1e4) / 1e4 };\n}\n\nfunction calculateVolume(volumes) {\n  const period = 20;\n  if (!volumes || volumes.length < period) return { ratio: null, signal: 'NEUTRAL' };\n  const current = volumes[volumes.length - 1];\n  const ma = calculateSMA(volumes, period);\n  if (!ma) return { ratio: null, signal: 'NEUTRAL' };\n  const ratio = current / ma;\n  let signal = 'NEUTRAL';\n  if (ratio >= 2) signal = 'VERY_HIGH';\n  else if (ratio >= 1.5) signal = 'HIGH';\n  else if (ratio >= 1) signal = 'NORMAL';\n  else if (ratio >= 0.5) signal = 'LOW';\n  else signal = 'VERY_LOW';\n  return { ratio: Math.round(ratio * 1e4) / 1e4, signal };\n}\n\nfunction calculateEMA200(closes) {\n  const ema200 = calculateEMA(closes, 200);\n  if (!ema200) return { ema200: null, trend: 'UNKNOWN', distance: null };\n  const price = closes[closes.length - 1];\n  const distance = ((price - ema200) / ema200) * 100;\n  return {\n    ema200: round8(ema200),\n    trend: price > ema200 ? 'BULLISH' : price < ema200 ? 'BEARISH' : 'NEUTRAL',\n    distance: Math.round(distance * 100) / 100,\n  };\n}\n\nfunction calculateEMACross(closes) {\n  if (!closes || closes.length < 202) return { cross: 'NONE', ema50: null };\n  const ema50s = calculateEMASeries(closes, 50);\n  const ema200s = calculateEMASeries(closes, 200);\n  const len = closes.length;\n  const c50 = ema50s[len-1], c200 = ema200s[len-1];\n  const p50 = ema50s[len-2], p200 = ema200s[len-2];\n  if (!c50 || !c200 || !p50 || !p200) return { cross: 'NONE', ema50: c50 };\n  let cross = 'NONE';\n  if (p50 <= p200 && c50 > c200) cross = 'GOLDEN';\n  else if (p50 >= p200 && c50 < c200) cross = 'DEATH';\n  else if (c50 > c200) cross = 'ABOVE';\n  else cross = 'BELOW';\n  return { cross, ema50: round8(c50) };\n}\n\n\n// ═══════════════════════════════════════\n//  ANALİZ + PUANLAMA + SİNYAL\n// ═══════════════════════════════════════\n\nfunction analyze(ohlcv, symbol, tf) {\n  const { opens, highs, lows, closes, volumes } = ohlcv;\n  if (!closes || closes.length < 200) return null;\n\n  const price = closes[closes.length - 1];\n  const open = opens[opens.length - 1];\n  const candle = price > open ? 'GREEN' : price < open ? 'RED' : 'DOJI';\n\n  const rsiData = calculateRSI(closes);\n  const rsi = rsiData.value;\n  const rsiDir = rsiData.direction;\n  const macd = calculateMACD(closes);\n  const ema200 = calculateEMA200(closes);\n  const emaCross = calculateEMACross(closes);\n  const adx = calculateADX(highs, lows, closes);\n  const atr = calculateATR(highs, lows, closes);\n  const vol = calculateVolume(volumes);\n  const bb = calculateBB(closes);\n\n  // RSI Skor\n  let rsiSignal = 'NEUTRAL', rsiScore = 0;\n  if (rsi !== null) {\n    if (rsi <= 20) { rsiSignal = 'EXTREMELY_OVERSOLD'; rsiScore = 3; }\n    else if (rsi <= 30) { rsiSignal = 'OVERSOLD'; rsiScore = 2; }\n    else if (rsi <= 40) { rsiSignal = 'SLIGHTLY_OVERSOLD'; rsiScore = 1; }\n    else if (rsi >= 80) { rsiSignal = 'EXTREMELY_OVERBOUGHT'; rsiScore = -3; }\n    else if (rsi >= 70) { rsiSignal = 'OVERBOUGHT'; rsiScore = -2; }\n    else if (rsi >= 60) { rsiSignal = 'SLIGHTLY_OVERBOUGHT'; rsiScore = -1; }\n    if (rsi <= 35 && rsiDir === 'UP') rsiScore += 1;\n    if (rsi >= 65 && rsiDir === 'DOWN') rsiScore -= 1;\n  }\n\n  // MACD Skor\n  let macdScore = 0;\n  if (macd.histogram !== null) {\n    if (macd.crossover === 'BULLISH') macdScore = 3;\n    else if (macd.crossover === 'BEARISH') macdScore = -3;\n    else if (macd.histogram > 0 && macd.macdLine > 0) macdScore = 2;\n    else if (macd.histogram > 0) macdScore = 1;\n    else if (macd.histogram < 0 && macd.macdLine < 0) macdScore = -2;\n    else if (macd.histogram < 0) macdScore = -1;\n    if (macd.momentum === 'BULLISH_GROWING') macdScore += 1;\n    else if (macd.momentum === 'BEARISH_GROWING') macdScore -= 1;\n    else if (macd.momentum === 'BULLISH_SHRINKING' && macdScore > 0) macdScore -= 1;\n    else if (macd.momentum === 'BEARISH_SHRINKING' && macdScore < 0) macdScore += 1;\n  }\n\n  // EMA Skorlar\n  let ema200Score = 0;\n  if (ema200.trend === 'BULLISH') { ema200Score = 2; if (ema200.distance > 5) ema200Score = 1; }\n  else if (ema200.trend === 'BEARISH') { ema200Score = -2; if (ema200.distance < -5) ema200Score = -1; }\n\n  let emaCrossScore = 0;\n  if (emaCross.cross === 'GOLDEN') emaCrossScore = 2;\n  else if (emaCross.cross === 'DEATH') emaCrossScore = -2;\n  else if (emaCross.cross === 'ABOVE') emaCrossScore = 1;\n  else if (emaCross.cross === 'BELOW') emaCrossScore = -1;\n\n  // ADX Skor\n  let adxSignal = 'WEAK_TREND', adxScore = 0;\n  if (adx.adx !== null) {\n    if (adx.adx >= 50) adxSignal = 'VERY_STRONG_TREND';\n    else if (adx.adx >= 25) adxSignal = 'STRONG_TREND';\n    else if (adx.adx >= 20) adxSignal = 'MODERATE_TREND';\n    if (adx.adx >= 25) adxScore = adx.plusDi > adx.minusDi ? 2 : -2;\n    else if (adx.adx >= 20) adxScore = adx.plusDi > adx.minusDi ? 1 : -1;\n  }\n\n  // BB Skor\n  let bbSignal = 'NEUTRAL', bbScore = 0;\n  if (bb.position !== null) {\n    if (bb.position <= 0) { bbSignal = 'BELOW_LOWER'; bbScore = 2; }\n    else if (bb.position <= 0.2) { bbSignal = 'NEAR_LOWER'; bbScore = 1; }\n    else if (bb.position >= 1) { bbSignal = 'ABOVE_UPPER'; bbScore = -2; }\n    else if (bb.position >= 0.8) { bbSignal = 'NEAR_UPPER'; bbScore = -1; }\n    else bbSignal = 'MIDDLE';\n  }\n\n  // Hacim Skor\n  let volScore = 0;\n  if (vol.ratio !== null) {\n    if (vol.ratio >= 2) { volScore = candle === 'GREEN' ? 2 : candle === 'RED' ? -2 : 0; }\n    else if (vol.ratio >= 1.5) { volScore = candle === 'GREEN' ? 1 : candle === 'RED' ? -1 : 0; }\n  }\n\n  // Toplam\n  const allScores = [rsiScore, macdScore, ema200Score, emaCrossScore, adxScore, bbScore, volScore];\n  let buyScore = 0, sellScore = 0;\n  for (const s of allScores) { if (s > 0) buyScore += s; if (s < 0) sellScore += Math.abs(s); }\n\n  // Bonus\n  let bonus = 0;\n  if (macd.crossover === 'BULLISH' && rsi < 50) bonus += 2;\n  if (macd.crossover === 'BEARISH' && rsi > 50) bonus -= 2;\n  if (ema200.trend === 'BULLISH' && macdScore > 0 && rsiScore > 0) bonus += 2;\n  if (ema200.trend === 'BEARISH' && macdScore < 0 && rsiScore < 0) bonus -= 2;\n  if (vol.ratio >= 1.5) {\n    if (buyScore > sellScore && candle === 'GREEN') bonus += 1;\n    if (sellScore > buyScore && candle === 'RED') bonus -= 1;\n  }\n  if (adx.adx >= 30) {\n    if (adx.plusDi > adx.minusDi && buyScore > sellScore) bonus += 1;\n    if (adx.minusDi > adx.plusDi && sellScore > buyScore) bonus -= 1;\n  }\n  if (bb.position <= 0.1 && rsi < 35) bonus += 2;\n  if (bb.position >= 0.9 && rsi > 65) bonus -= 2;\n  if (emaCross.cross === 'GOLDEN' && ema200.trend === 'BULLISH') bonus += 2;\n  if (emaCross.cross === 'DEATH' && ema200.trend === 'BEARISH') bonus -= 2;\n  if (rsiDir === 'UP' && candle === 'GREEN' && rsi < 45) bonus += 1;\n  if (rsiDir === 'DOWN' && candle === 'RED' && rsi > 55) bonus -= 1;\n\n  const rawScore = buyScore - sellScore + bonus;\n\n  // Sinyal\n  let signalType = 'WAIT', dir = 'NEUTRAL';\n  if (rawScore >= 8) { signalType = 'STRONG_BUY'; dir = 'BUY'; }\n  else if (rawScore >= 5) { signalType = 'BUY'; dir = 'BUY'; }\n  else if (rawScore >= 3) { signalType = 'WEAK_BUY'; dir = 'BUY'; }\n  else if (rawScore <= -8) { signalType = 'STRONG_SELL'; dir = 'SELL'; }\n  else if (rawScore <= -5) { signalType = 'SELL'; dir = 'SELL'; }\n  else if (rawScore <= -3) { signalType = 'WEAK_SELL'; dir = 'SELL'; }\n\n  // Filtre\n  if (adx.adx !== null && adx.adx < 15) {\n    if (signalType === 'STRONG_BUY') signalType = 'WEAK_BUY';\n    else if (signalType === 'STRONG_SELL') signalType = 'WEAK_SELL';\n    else if (signalType === 'BUY' && rawScore < 6) signalType = 'WEAK_BUY';\n    else if (signalType === 'SELL' && rawScore > -6) signalType = 'WEAK_SELL';\n  }\n  if (vol.ratio !== null && vol.ratio < 0.3 && (signalType === 'WEAK_BUY' || signalType === 'WEAK_SELL')) {\n    signalType = 'WAIT'; dir = 'NEUTRAL';\n  }\n  if (ema200.trend === 'BEARISH' && signalType === 'STRONG_BUY' && adx.adx < 30) signalType = 'BUY';\n  if (ema200.trend === 'BULLISH' && signalType === 'STRONG_SELL' && adx.adx < 30) signalType = 'SELL';\n\n  // Güven\n  let confidence = Math.min((Math.abs(rawScore) / 20) * 100, 100);\n  if (adx.adx >= 30) confidence = Math.min(confidence * 1.15, 100);\n  else if (adx.adx < 20) confidence *= 0.8;\n  if (vol.ratio >= 1.5) confidence = Math.min(confidence * 1.1, 100);\n  else if (vol.ratio < 0.5) confidence *= 0.85;\n  if (emaCross.cross === 'GOLDEN' || emaCross.cross === 'DEATH') confidence = Math.min(confidence * 1.1, 100);\n  if (dir === 'BUY' && candle === 'GREEN') confidence = Math.min(confidence * 1.05, 100);\n  else if (dir === 'SELL' && candle === 'RED') confidence = Math.min(confidence * 1.05, 100);\n  else if (dir === 'BUY' && candle === 'RED') confidence *= 0.95;\n  else if (dir === 'SELL' && candle === 'GREEN') confidence *= 0.95;\n  confidence = Math.round(confidence * 100) / 100;\n\n  // Risk\n  let sl = null, tp1 = null, tp2 = null, tp3 = null, rr = null;\n  if (atr && price && dir !== 'NEUTRAL') {\n    let slM = 1.5;\n    if (adx.adx >= 40) slM = 1.2; else if (adx.adx >= 30) slM = 1.3;\n    else if (adx.adx >= 25) slM = 1.5; else if (adx.adx >= 20) slM = 1.8; else slM = 2.0;\n    let t1M = 1.5, t2M = 2.5, t3M = 4.0;\n    if (vol.ratio >= 2) { t1M = 2; t2M = 3.5; t3M = 5; }\n    else if (vol.ratio >= 1.5) { t1M = 1.8; t2M = 3; t3M = 4.5; }\n    if (dir === 'BUY') { sl = price - atr*slM; tp1 = price + atr*t1M; tp2 = price + atr*t2M; tp3 = price + atr*t3M; }\n    else { sl = price + atr*slM; tp1 = price - atr*t1M; tp2 = price - atr*t2M; tp3 = price - atr*t3M; }\n    const risk = Math.abs(price - sl), reward = Math.abs(tp1 - price);\n    rr = risk ? Math.round(reward / risk * 100) / 100 : null;\n    sl = round8(sl); tp1 = round8(tp1); tp2 = round8(tp2); tp3 = round8(tp3);\n  }\n\n  return {\n    symbol, timeframe: tf, signalType, confidence, currentPrice: price,\n    openPrice: open, highPrice: highs[highs.length-1], lowPrice: lows[lows.length-1],\n    volume: volumes[volumes.length-1], candleDirection: candle,\n    rsi, rsiSignal, rsiDirection: rsiDir,\n    macdLine: macd.macdLine, macdSignalLine: macd.signalLine, macdHistogram: macd.histogram,\n    macdCrossover: macd.crossover, macdMomentum: macd.momentum,\n    ema200: ema200.ema200, priceVsEma200: ema200.trend, ema200Distance: ema200.distance,\n    ema50: emaCross.ema50, emaCross: emaCross.cross,\n    adx: adx.adx, plusDi: adx.plusDi, minusDi: adx.minusDi, adxSignal,\n    atr, atrPercent: atr ? Math.round((atr/price)*10000)/100 : null,\n    volumeRatio: vol.ratio, volumeSignal: vol.signal,\n    bbUpper: bb.upper, bbMiddle: bb.middle, bbLower: bb.lower, bbPosition: bb.position, bbSignal,\n    buyScore, sellScore, bonusScore: bonus, rawScore,\n    stopLoss: sl, takeProfit1: tp1, takeProfit2: tp2, takeProfit3: tp3, riskRewardRatio: rr,\n  };\n}\n\n\n// ═══════════════════════════════════════\n//  MULTI-TIMEFRAME\n// ═══════════════════════════════════════\n\nfunction multiTF(a1h, a4h) {\n  if (!a1h) return null;\n  function trend(a) {\n    let bull = 0, bear = 0;\n    if (a.priceVsEma200 === 'BULLISH') bull++; else if (a.priceVsEma200 === 'BEARISH') bear++;\n    if (a.macdHistogram > 0) bull++; else if (a.macdHistogram < 0) bear++;\n    if (a.rsi > 50) bull++; else if (a.rsi < 50) bear++;\n    if (a.plusDi > a.minusDi) bull++; else bear++;\n    if (a.emaCross === 'GOLDEN' || a.emaCross === 'ABOVE') bull++;\n    else if (a.emaCross === 'DEATH' || a.emaCross === 'BELOW') bear++;\n    return bull >= 3 ? 'BULLISH' : bear >= 3 ? 'BEARISH' : 'NEUTRAL';\n  }\n  const t1h = trend(a1h);\n  const t4h = a4h ? trend(a4h) : 'UNKNOWN';\n  let alignment = 'MIXED';\n  if (t1h === t4h) alignment = 'ALIGNED';\n  else if (t1h === 'NEUTRAL' || t4h === 'NEUTRAL' || t4h === 'UNKNOWN') alignment = 'PARTIAL';\n  else alignment = 'CONFLICTING';\n  let sig = a1h.signalType, conf = a1h.confidence;\n  if (alignment === 'ALIGNED') conf = Math.min(conf * 1.2, 100);\n  else if (alignment === 'CONFLICTING') {\n    conf *= 0.7;\n    if (sig === 'STRONG_BUY') sig = 'BUY';\n    else if (sig === 'STRONG_SELL') sig = 'SELL';\n    else if (sig === 'BUY') sig = 'WEAK_BUY';\n    else if (sig === 'SELL') sig = 'WEAK_SELL';\n  }\n  return { ...a1h, signalType: sig, confidence: Math.round(conf * 100) / 100, trend1h: t1h, trend4h: t4h, trendAlignment: alignment };\n}\n\n\n// ═══════════════════════════════════════\n//  ANA ÇALIŞTIRMA — n8n uyumlu\n// ═══════════════════════════════════════\n\nconst results = [];\n\nfor (const symbol of COINS) {\n  try {\n    const s = symbol.replace('/', '');\n    \n    // n8n httpRequest ile veri çek\n    const data1hRaw = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${BINANCE_URL}/api/v3/klines?symbol=${s}&interval=1h&limit=${CANDLE_LIMIT}`,\n      json: true,\n    });\n    \n    const data4hRaw = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${BINANCE_URL}/api/v3/klines?symbol=${s}&interval=4h&limit=${CANDLE_LIMIT}`,\n      json: true,\n    });\n    \n    // Parse et\n    function parseCandles(raw) {\n      const opens = [], highs = [], lows = [], closes = [], volumes = [];\n      for (const c of raw) {\n        opens.push(parseFloat(c[1]));\n        highs.push(parseFloat(c[2]));\n        lows.push(parseFloat(c[3]));\n        closes.push(parseFloat(c[4]));\n        volumes.push(parseFloat(c[5]));\n      }\n      return { opens, highs, lows, closes, volumes };\n    }\n    \n    const data1h = parseCandles(data1hRaw);\n    const data4h = parseCandles(data4hRaw);\n    \n    const a1h = analyze(data1h, symbol, '1h');\n    const a4h = analyze(data4h, symbol, '4h');\n    const result = multiTF(a1h, a4h);\n\n    if (result) {\n      results.push({ json: result });\n    }\n\n    // Rate limit\n    await new Promise(r => setTimeout(r, 300));\n  } catch (err) {\n    results.push({ json: { symbol, error: err.message } });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -48,
        -144
      ],
      "id": "34c64992-ad21-4fce-9d29-915dbe5a5b9f",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "chatId": "6810110831",
        "text": "={{ $json.telegramMessage }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "="
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -192
      ],
      "id": "81e0dd7d-561d-459b-8e93-5d4ed613b644",
      "name": "Send a text message1",
      "webhookId": "8af6b440-0046-46a0-bcc1-92edddebfe3c",
      "credentials": {
        "telegramApi": {
          "id": "zprjwJ0cl781a5pw",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst strongSignals = [];\n\nfor (const item of items) {\n  const s = item.json;\n  const signal = s.signalType;\n  \n  if (!signal || signal === 'WAIT') continue;\n\n  // Sinyal emojisi\n  let signalEmoji = '⚪';\n  let strengthBar = '';\n  let actionText = '';\n  \n  if (signal === 'STRONG_BUY') {\n    signalEmoji = '🟢🟢🟢';\n    strengthBar = '████████████ 100%';\n    actionText = '💪 ÇOK GÜÇLÜ ALIM SİNYALİ';\n  } else if (signal === 'BUY') {\n    signalEmoji = '🟢🟢';\n    strengthBar = '████████░░░░ 75%';\n    actionText = '✅ ALIM SİNYALİ';\n  } else if (signal === 'WEAK_BUY') {\n    signalEmoji = '🟡';\n    strengthBar = '█████░░░░░░░ 40%';\n    actionText = '⚠️ ZAYIF ALIM — DİKKATLİ OL';\n  } else if (signal === 'STRONG_SELL') {\n    signalEmoji = '🔴🔴🔴';\n    strengthBar = '████████████ 100%';\n    actionText = '💪 ÇOK GÜÇLÜ SATIM SİNYALİ';\n  } else if (signal === 'SELL') {\n    signalEmoji = '🔴🔴';\n    strengthBar = '████████░░░░ 75%';\n    actionText = '🛑 SATIM SİNYALİ';\n  } else if (signal === 'WEAK_SELL') {\n    signalEmoji = '🟠';\n    strengthBar = '█████░░░░░░░ 40%';\n    actionText = '⚠️ ZAYIF SATIM — DİKKATLİ OL';\n  }\n\n  // Trend emojileri\n  const trend1hEmoji = s.trend1h === 'BULLISH' ? '📈' : s.trend1h === 'BEARISH' ? '📉' : '➡️';\n  const trend4hEmoji = s.trend4h === 'BULLISH' ? '📈' : s.trend4h === 'BEARISH' ? '📉' : '➡️';\n  \n  // Trend uyum emojisi\n  let alignEmoji = '⚠️';\n  let alignText = '';\n  if (s.trendAlignment === 'ALIGNED') { alignEmoji = '✅'; alignText = 'UYUMLU — Güvenilir'; }\n  else if (s.trendAlignment === 'CONFLICTING') { alignEmoji = '❌'; alignText = 'ÇATIŞMALI — Riskli'; }\n  else { alignEmoji = '⚠️'; alignText = 'KISMEN UYUMLU'; }\n\n  // RSI durumu\n  let rsiEmoji = '⚪';\n  let rsiText = '';\n  if (s.rsi <= 20) { rsiEmoji = '🟢🟢'; rsiText = 'Aşırı Satım — Güçlü Alım Fırsatı'; }\n  else if (s.rsi <= 30) { rsiEmoji = '🟢'; rsiText = 'Satım Bölgesi — Alım Fırsatı'; }\n  else if (s.rsi <= 40) { rsiEmoji = '🟡'; rsiText = 'Hafif Satım Bölgesi'; }\n  else if (s.rsi >= 80) { rsiEmoji = '🔴🔴'; rsiText = 'Aşırı Alım — Düşüş Riski Yüksek'; }\n  else if (s.rsi >= 70) { rsiEmoji = '🔴'; rsiText = 'Alım Bölgesi — Düşüş Riski'; }\n  else if (s.rsi >= 60) { rsiEmoji = '🟠'; rsiText = 'Hafif Alım Bölgesi'; }\n  else { rsiEmoji = '⚪'; rsiText = 'Nötr Bölge'; }\n\n  // RSI yön\n  const rsiDirEmoji = s.rsiDirection === 'UP' ? '↗️' : s.rsiDirection === 'DOWN' ? '↘️' : '➡️';\n\n  // MACD durumu\n  let macdEmoji = '⚪';\n  let macdText = '';\n  if (s.macdCrossover === 'BULLISH') { macdEmoji = '🟢✨'; macdText = 'Yukarı Kesişim — GÜÇLÜ ALIM'; }\n  else if (s.macdCrossover === 'BEARISH') { macdEmoji = '🔴✨'; macdText = 'Aşağı Kesişim — GÜÇLÜ SATIM'; }\n  else if (s.macdHistogram > 0) { macdEmoji = '🟢'; macdText = 'Pozitif — Yukarı Momentum'; }\n  else if (s.macdHistogram < 0) { macdEmoji = '🔴'; macdText = 'Negatif — Aşağı Momentum'; }\n\n  // MACD Momentum\n  let momEmoji = '⚪';\n  let momText = '';\n  if (s.macdMomentum === 'BULLISH_GROWING') { momEmoji = '🚀'; momText = 'Yükseliş İvme Kazanıyor'; }\n  else if (s.macdMomentum === 'BULLISH_SHRINKING') { momEmoji = '⚠️'; momText = 'Yükseliş Yavaşlıyor'; }\n  else if (s.macdMomentum === 'BEARISH_GROWING') { momEmoji = '💥'; momText = 'Düşüş İvme Kazanıyor'; }\n  else if (s.macdMomentum === 'BEARISH_SHRINKING') { momEmoji = '⚠️'; momText = 'Düşüş Yavaşlıyor'; }\n\n  // ADX durumu\n  let adxEmoji = '⚪';\n  let adxText = '';\n  if (s.adx >= 50) { adxEmoji = '💪💪'; adxText = 'Çok Güçlü Trend'; }\n  else if (s.adx >= 25) { adxEmoji = '💪'; adxText = 'Güçlü Trend — Sinyal Güvenilir'; }\n  else if (s.adx >= 20) { adxEmoji = '⚠️'; adxText = 'Orta Trend'; }\n  else { adxEmoji = '😴'; adxText = 'Zayıf Trend — Sinyal Güvenilmez'; }\n\n  // DI yönü\n  const diEmoji = s.plusDi > s.minusDi ? '🟢 Alıcılar Güçlü' : '🔴 Satıcılar Güçlü';\n\n  // Hacim durumu\n  let volEmoji = '⚪';\n  let volText = '';\n  if (s.volumeRatio >= 2) { volEmoji = '🔊🔊'; volText = 'Çok Yüksek — Büyük Hareket'; }\n  else if (s.volumeRatio >= 1.5) { volEmoji = '🔊'; volText = 'Yüksek — İyi Katılım'; }\n  else if (s.volumeRatio >= 1) { volEmoji = '🔉'; volText = 'Normal'; }\n  else if (s.volumeRatio >= 0.5) { volEmoji = '🔈'; volText = 'Düşük — Dikkat'; }\n  else { volEmoji = '🔇'; volText = 'Çok Düşük — Güvenme'; }\n\n  // Bollinger durumu\n  let bbEmoji = '⚪';\n  if (s.bbSignal === 'BELOW_LOWER' || s.bbSignal === 'NEAR_LOWER') bbEmoji = '🟢';\n  else if (s.bbSignal === 'ABOVE_UPPER' || s.bbSignal === 'NEAR_UPPER') bbEmoji = '🔴';\n\n  // EMA Cross\n  let crossEmoji = '⚪';\n  let crossText = '';\n  if (s.emaCross === 'GOLDEN') { crossEmoji = '⭐'; crossText = 'Altın Kesişim — GÜÇLÜ ALIM'; }\n  else if (s.emaCross === 'DEATH') { crossEmoji = '💀'; crossText = 'Ölüm Kesişimi — GÜÇLÜ SATIM'; }\n  else if (s.emaCross === 'ABOVE') { crossEmoji = '📈'; crossText = 'EMA50 Üstte — Yükseliş'; }\n  else if (s.emaCross === 'BELOW') { crossEmoji = '📉'; crossText = 'EMA50 Altta — Düşüş'; }\n\n  // Mum yönü\n  const candleEmoji = s.candleDirection === 'GREEN' ? '🟩' : s.candleDirection === 'RED' ? '🟥' : '⬜';\n\n  // Güven barı\n  let confBar = '';\n  const confPct = Math.round(s.confidence);\n  const filled = Math.round(confPct / 10);\n  confBar = '█'.repeat(filled) + '░'.repeat(10 - filled) + ` ${confPct}%`;\n\n  // Risk yüzdeleri\n  const slPct = s.stopLoss ? (((s.stopLoss - s.currentPrice) / s.currentPrice) * 100).toFixed(2) : '—';\n  const tp1Pct = s.takeProfit1 ? (((s.takeProfit1 - s.currentPrice) / s.currentPrice) * 100).toFixed(2) : '—';\n  const tp2Pct = s.takeProfit2 ? (((s.takeProfit2 - s.currentPrice) / s.currentPrice) * 100).toFixed(2) : '—';\n  const tp3Pct = s.takeProfit3 ? (((s.takeProfit3 - s.currentPrice) / s.currentPrice) * 100).toFixed(2) : '—';\n\n  // Puan barı\n  const scoreEmoji = s.rawScore > 0 ? '🟢' : s.rawScore < 0 ? '🔴' : '⚪';\n\n  item.json.telegramMessage = \n`━━━━━━━━━━━━━━━━━━━━━━━\n${signalEmoji} ${s.symbol}\n━━━━━━━━━━━━━━━━━━━━━━━\n\n${actionText}\n💰 Fiyat: $${s.currentPrice}\n📊 Güven: ${confBar}\n${candleEmoji} Son Mum: ${s.candleDirection}\n\n━━━ 📈 TREND ANALİZİ ━━━\n\n${trend1hEmoji} 1 Saatlik: ${s.trend1h}\n${trend4hEmoji} 4 Saatlik: ${s.trend4h}\n${alignEmoji} Uyum: ${alignText}\n\n━━━ 🔬 GÖSTERGELER ━━━\n\n${rsiEmoji} RSI: ${s.rsi} ${rsiDirEmoji}\n   └─ ${rsiText}\n\n${macdEmoji} MACD: ${macdText}\n${momEmoji} Momentum: ${momText}\n\n${adxEmoji} ADX: ${s.adx}\n   └─ ${adxText}\n   └─ ${diEmoji}\n   └─ +DI: ${s.plusDi} / -DI: ${s.minusDi}\n\n${volEmoji} Hacim: ${s.volumeRatio}x\n   └─ ${volText}\n\n${bbEmoji} Bollinger: ${s.bbSignal}\n   └─ Pozisyon: %${s.bbPosition ? (s.bbPosition * 100).toFixed(1) : '—'}\n\n${crossEmoji} EMA Kesişim: ${crossText}\n\n📏 EMA200: ${s.priceVsEma200} (${s.ema200Distance > 0 ? '+' : ''}${s.ema200Distance}%)\n\n━━━ 🎯 PUANLAMA ━━━\n\n${scoreEmoji} Ham Skor: ${s.rawScore}\n🟢 Alış Puanı: ${s.buyScore}\n🔴 Satış Puanı: ${s.sellScore}\n⭐ Bonus: ${s.bonusScore}\n\n━━━ 🛡️ RİSK YÖNETİMİ ━━━\n\n🔴 Stop Loss: $${s.stopLoss || '—'}\n   └─ ${slPct}%\n\n🟢 Hedef 1: $${s.takeProfit1 || '—'}\n   └─ +${tp1Pct}%\n\n🟢 Hedef 2: $${s.takeProfit2 || '—'}\n   └─ +${tp2Pct}%\n\n🟢 Hedef 3: $${s.takeProfit3 || '—'}\n   └─ +${tp3Pct}%\n\n⚖️ Risk/Ödül: 1:${s.riskRewardRatio || '—'}\n\n━━━━━━━━━━━━━━━━━━━━━━━\n⏰ ${new Date().toLocaleString('tr-TR')}\n🤖 Crypto Signal Bot v2.0\n━━━━━━━━━━━━━━━━━━━━━━━`;\n  \n  // Telegram özel karakterlerini temizle\nitem.json.telegramMessage = item.json.telegramMessage\n  .replace(/_/g, ' ')\n  .replace(/\\*/g, '')\n  .replace(/\\[/g, '(')\n  .replace(/\\]/g, ')')\n  .replace(/~/g, '-')\n  .replace(/`/g, \"'\");\n  \n  strongSignals.push(item);\n}\n\n// Sinyal yoksa bildir\nif (strongSignals.length === 0) {\n  strongSignals.push({\n    json: {\n      telegramMessage: `⚪ Şu an aktif sinyal yok.\\n\\n⏰ ${new Date().toLocaleString('tr-TR')}\\n\\nTüm coinler WAIT durumunda.\\nBir sonraki analiz 1 saat sonra.`\n    }\n  });\n}\n\nreturn strongSignals;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -176
      ],
      "id": "e3deb7f5-fd4a-40fd-808c-acd97d6edcab",
      "name": "Code in JavaScript3"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e8136609-d134-4812-bffd-7ec387451563",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d07918c39cd11476428296c3c689d11702aa5dfadaa6622df4cd46e56a381aa9"
  },
  "id": "SK1fw9JixaemneRe",
  "tags": []
}